
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
  }
  
  fieldset {
    border: none;
    margin: 50px;
    margin-top: 20px;
    padding: 0;
  }
  
  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label[for="Visa"],
  label[for="Master"] {
  display:inline-block;
  margin-block: 10px;
  margin-right: 100px;
}
  
  label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    color: gray;
  }

  input[type="date"],input[type="text"],
  input[type="password"] {
    width: 90%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-with-toggle {
    position: relative;
  }
  
  .toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('eye_icon.png');
    background-size: cover;
  }
  
  .pay-btn {
    width: 50%;
    margin-top: 10px;
    margin-left: 85px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pay-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
      padding: 10px;
    }
  }
  